.nav_container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C3CFD9;
    color: #E8833A;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    position: fixed;
    top: 0;
}

.nav_container a {
    text-decoration: none;
    color: #E8833A;
}

.nav_container img {
    position: fixed;
    left: 10px;
    top: 20px;
    cursor: pointer;
    z-index: 2;
}